body{
	background-color: #f0f0f0;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

li{
	width: 100%;
	display: block;
	float: left;
	position: relative;
}

#container{
	width: 300px;
	margin: 100px auto;	
}

#funky-accordion-menu{
	width: 100%;
	font-family: Ubuntu, sans-serif;
	color: #fff;
	float: left;
	box-shadow: 0 20px 50px #333;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.funky-accordion-header {
    background-color: #d8475a;
    padding: 24px;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    border-bottom: 5px solid #c1243b;
}

#funky-accordion-menu ul li a {
    float: left;
    background-color: #d8475a;
    padding: 15px 24px;
    width: 100%;
    position: relative;
    color: #fff;
    text-decoration: none;
    font-weight: 100;
    border-bottom: 1px solid #c1243b;
}
#funky-accordion-submenu{
	width: 100%;
}

#funky-accordion-menu ul ul.funky-accordion-submenu>li>a { /*submenu 1. niveau */
    padding: 15px 14px 15px 34px;
    background-color: #383838;
    font-size: .8em;
    border: none;
}

#funky-accordion-menu ul ul.funky-accordion-submenu>li>ul.funky-accordion-submenu>li>a { /*submenu 2. niveau */
    padding: 15px 4px 15px 44px;
    color: #bababa;
}